.add-review-stars-container {
    display: flex;
}


.is-filled { 
    color: var(--mb-primary); 
    transition: color 0.2s ease; 

} 

.add-review-container {
    display: grid;
    gap: 0.6rem;
}

.add-review-help {
    font-size: 0.9rem;
    color: var(--gray2);
}
